[submodule "wiki"]
	path = wiki
	url = https://github.com/geripgeri/awesome-config.wiki.git

[submodule "lain"]
 	path = lain
	url = https://github.com/copycat-killer/lain.git
	branch = master

[submodule "theme/icons"]
	path = theme/icons
	url = https://github.com/google/material-design-icons.git
	branch = master

