[submodule "wiki"]
	path = wiki
	url = https://github.com/geripgeri/awesome-config.wiki.git

[submodule "lain"]
 	path = lain
	url = https://github.com/copycat-killer/lain.git
	branch = master

[submodule "icons"]
	path = theme/vertex-icons
	url = https://github.com/horst3180/vertex-icons.git
	branch = master
